<mat-card class="student-info-card">
    <mat-toolbar color="primary">
      <span>Thông tin chi tiết sinh viên</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>
    </mat-toolbar>
  
    <div class="content">
      <div class="profile-image">
        <img src="https://i.natgeofe.com/n/4f5aaece-3300-41a4-b2a8-ed2708a0a27c/domestic-dog_thumb_square.jpg" alt="Profile Image" class="profile-image">
      </div>
      <div class="profile-details">
        <div class="info-group">
          <p><b>Họ và tên:</b> Nguyen Van A</p>
          <p><b>MSSV:</b> 22113376</p>
          <p><b>Khoa:</b> Công nghệ thông tin</p>
          <p><b>Ngành:</b> Kỹ thuật phần mềm</p>
          <p><b>Khóa:</b> K21</p>
          <p><b>Điện thoại:</b> 0327199999</p>
        </div>
        <div class="info-group">
          <p><b>Giới tính:</b> Nam</p>
          <p><b>Ngày sinh:</b> 27/09/2003</p>
          <p><b>Nơi sinh:</b> Xã Tam Quang, Huyện Núi Thành, Tỉnh Quảng Nam</p>
          <p><b>Số CMND:</b></p>
          <p><b>Quốc tịch:</b> Việt Nam</p>
          <p>
            <b>Nơi cấp CMND:</b> <span class="link">Quảng Nam</span>
          </p>
          <p><b>Ngày cấp CMND:</b> 23/4/2025</p>
        </div>
      </div>
    </div>
  </mat-card>
  