<div class="login-container">
  <div class="login-card">
    <div class="left-section">
      <img [src] ="'assets/west-shores-logo.jpg'" alt="West Shores Logo" class="logo" />
      <!-- <img ngSrc="west-shores-logo.jpg" fill/> -->
    </div>
    <div class="right-section">
      <h1>ĐĂNG NHẬP</h1>
      <form>
        <div class="input-group">
          <label for="username">Tên đăng nhập hoặc Email</label>
          <input id="username" type="text" placeholder="Vui lòng nhập thông tin đăng nhập" />
        </div>
        <div class="input-group">
          <label for="password">Mật khẩu</label>
          <input id="password" type="password" placeholder="Vui lòng nhập mật khẩu" />
        </div>
        <button type="submit">Đăng nhập</button>
      </form>
    </div>
  </div>
</div>
